body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-primary;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* hides the slight shakiness from the animations */
    margin-bottom: 5rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: 2rem;
        animation-name: moveInLeft; //animation to have text come in from the left - see base/animations
        animation-duration: 2s;
        animation-timing-function: ease-out ; /* how fast or slow parameters happen over time */
        /* animation-iteration-count: 3; How many times the animation happens */
        /* animation-delay: 3s; Wait 3s for the animation to start */

        @include respond(phone) {
            font-size: 3rem;
            letter-spacing: 1rem;
        }
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1rem;
        animation: moveInRight 2s ease-out; /*shorthand method */

        @include respond(phone) {
            letter-spacing: 0rem;
            font-weight: 300;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text; //clip background exactly where the text ends
    color: transparent;
    transition: all .2s;
    letter-spacing: 2px;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}